

<div class="new-property">
  <%= render partial: 'form', locals: { property: @property} =%>
</div>

<div class="js-properties">
<%= render partial: 'properties', locals: { property: @property} =%>
</div>
